<?xml version='1.0'?>
<launch>
	<arg name="frame_id" default="imu_link"/>

	<include file="$(find vectornav)/launch/vectornav.launch">
		<arg name="frame_id" value="$(arg frame_id)"/>
	</include>

	<node pkg="imu_filter_madgwick" type="imu_filter_node" name="imu_filter">
		<rosparam command="load" file="$(find vectornav)/params/imu_filter_madgwick.yaml" />
		<remap from="imu/data_raw" to="/vectornav/IMU" />
		<remap from="imu/mag" to="/vectornav/Mag" />
	</node>

</launch>
